<!--/*@thymesVar id="eventSummaryPm" type="net.poundex.traq.timeline.EventSummaryPresentationModel"*/-->
<div id="eventsummary" class="row mb-lg-4" th:attr="__${ swapAttr }__" xmlns:th="http://www.w3.org/1999/html">
	<th:block th:if="${eventSummaryPm}">
	<div class="col-lg-8 col-12">
		<th:block th:if="${eventSummaryPm.getGroupedSpans().size() > 0}">
		<h3>Top Spans</h3>
		<th:block th:replace="~{ log/_topspans }"></th:block>
		</th:block>
		
		<th:block th:if="${recentPoints.size() > 0}">
		<h3>Most Recent Points</h3>
		<th:block th:replace="~{ log/_recentpoints }"></th:block>
		</th:block>
	</div>
	<div id="logsummary" class="card col">
		<div class="card-body">
			<h3 class="card-title">Summary</h3>
			<table class="table table-borderless card-body">
				<tr>
					<th scope="row" class="summary-item-label">Duration</th>
					<td id="logSummaryDuration" class="summary-item-value" th:text="${#spans.duration(eventSummaryPm.getEventSummary().duration())}">
						<sl-skeleton></sl-skeleton>
					</td>
				</tr>
			</table>

			<th:block th:replace="~{ timeline/_markersummarytable(markerSummaries = ${eventSummaryPm.getSortedMarkerSummaries()}, effectiveUri = @{/log/effectiveMarkerSummary(q=${eventSummaryPm.eventSummary.parsedQuery()})}) }"></th:block>
		</div>
	</div>
	</th:block>

	<th:block th:if="${eventSummaryPm}">
	<script type="text/hyperscript">
		on htmx:pushedIntoHistory
			js history.replaceState(history.state, null, `/log?q=${encodeURIComponent("[[${eventSummaryPm.eventSummary.parsedQuery()}]]")}`);
	</script>
	</th:block>
</div>
