<!--/*@thymesVar id="eventSummaryPm" type="net.poundex.traq.timeline.EventSummaryPresentationModel"*/-->
<div id="queryjumbo" class="p-4 mb-4 bg-light rounded-3" th:attr="__${ swapAttr }__" hx-target="this">
	<div class="container-fluid py-3">
		<form hx-post="/log/query"
		      hx-trigger="submit"
		      hx-push-url="/log?q">

			<div class="input-group mb-3">
				<input id="logQueryField" name="query" class="form-control fs-4"
				       th:value="${eventSummaryPm?.getEventSummary()?.parsedQuery()}"
				       placeholder="Enter Query"
				       _="on change or keyup or load
			                if my value
			                    remove @disabled from <button.log-query-button/>
			                else
			                    add @disabled to <button.log-query-button/>" />


				<button id="logQueryButton" class="btn btn-lg btn-primary log-query-button bi bi-caret-right-square-fill" 
						type="submit">
				</button>
			</div>

			<!--/*@thymesVar id="queryError" type="java.lang.String"*/-->
			<div id="logQueryErrorContainer" th:if="${queryError}" th:text="${queryError}" class="text-danger fw-bold"></div>
		</form>
	</div>
</div>