<!--/*@thymesVar id="eventSummaryPm" type="net.poundex.traq.timeline.EventSummaryPresentationModel"*/-->
<!--/*@thymesVar id="recentPoints" type="java.util.List<net.poundex.traq.timeline.TimelinePointDto>"*/-->
<div class="table-responsive" id="recentpoints" th:attr="__${ swapAttr }__">

	<table class="table table-striped ">
		<thead>
		<tr>
			<th scope="col">Date &amp; Time</th>
			<th scope="col">Description</th>
		</tr>
		</thead>
		<tbody>

		<th:block th:if="${recentPoints}" th:each="point : ${recentPoints}">
			<tr>
				<td style="width: 18ch"
				    class="recentPointsPointTime"
				    th:utext="${#temporals.format(point.time(), 'yyyy-MM-dd @ HH:mm', locale)}">
					<sl-skeleton></sl-skeleton>
				</td>
				<td class="recentPointsPointDescription"
				    th:insert="~{ timeline/_timelinedescription :: eventDescription(e = ${point}, noedit = true) }"></td>
			</tr>
		</th:block>
		</tbody>
	</table>
</div>