<!--/*@thymesVar id="eventSummaryPm" type="net.poundex.traq.timeline.EventSummaryPresentationModel"*/-->
<div class="table-responsive" id="topspans" th:attr="__${ swapAttr }__">

	<table class="table table-striped ">
		<thead>
		<tr>
			<th scope="col">Date &amp; Time</th>
			<th scope="col">Description</th>
			<th scope="col">Total</th>
		</tr>
		</thead>
		<tbody>

		<th:block th:if="${eventSummaryPm.getGroupedSpans()}" th:each="event : ${eventSummaryPm.getSortedGroupedSpans().limit(5).toList() }">
			<tr>
				<td style="width: 18ch"
				    class="topSpansSpanTime"
				    th:if="${event.count() == 1}"
				    th:with="e=${event.spans().get(0)}"
				    th:utext="${#temporals.format(e.time(), 'yyyy-MM-dd @ HH:mm', locale)}">
					<sl-skeleton></sl-skeleton>
				</td>
				<td style="width: 18ch"
				    class="topSpansSpanCount"
				    th:if="${event.count() > 1}"
				    th:with="e=${event.spans().get(0)}"
				    th:text="'×' + ${event.count()}">
					<sl-skeleton></sl-skeleton>
				</td>
				<td class="topSpansSpanDescription" th:insert="~{ timeline/_timelinedescription :: eventDescription(e = ${event.spans().get(0)}, noedit = true) }"></td>
				<td style="width: 5ch"
				    class="topSpansSpanDuration"
				    th:text="${#spans.duration(event.durationSum())}">
					?'??"
				</td>
			</tr>
		</th:block>
		</tbody>
	</table>
</div>