<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Traq</title>

	<link th:href="@{/webjars/bootstrap/css/bootstrap.css}" rel="stylesheet" >
	<link th:href="@{/css/app.css}" rel="stylesheet" />
	<link th:href="@{/css/loadanim.css}" rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/shoelace-style__shoelace/cdn/themes/light.css}" rel="stylesheet" />
	
	<meta name="theme-color" content="#7952b3">
</head>
<body hx-boost="true" hx-target="#main">

<header class="navbar navbar-dark sticky-top bg-dark flex-nowrap p-0 shadow">
	<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Traq</a>
	<button class="navbar-brand navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
</header>

<div class="container-fluid">
	<div class="row">
		<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" hx-boost="true"
		     hx-target="#main">
			<div class="position-sticky pt-3">
				<div style="width: 100%; text-align: center" hx-trigger="load" hx-get="/ledgerchooser" hx-target="this" th:insert="~{_ledgerchooser}">
				</div>
				<div 
				_=" on click take .active from <a/> for event.target">
				<ul class="nav flex-column" >
					<li class="nav-item">
						<a class="nav-link" href="/today" hx-push-url="/today">
							<i class="bi bi-speedometer"></i>
							Today
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/day" hx-push-url="/day">
							<i class="bi bi-calendar3"></i>
							Days
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/day">
							<i class="bi bi-clipboard2-check-fill"></i>
							Tasks
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/day">
							<i class="bi bi-stickies-fill"></i>
							Notes
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/log" hx-push-url="/log">
							<span class="bi bi-list-columns-reverse"></span>
							Log
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/stats">
							<span class="bi bi-bar-chart-fill"></span>
							Statistics
						</a>
					</li>
				</ul>

				<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
					<span>Management</span>
				</h6>
				<ul class="nav flex-column mb-2">
					<li class="nav-item">
						<a class="nav-link" href="/marker" hx-push-url="/marker">
							<i class="bi bi-tags-fill"></i>
							Markers
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/ledger" hx-push-url="/ledger">
							<i class="bi bi-journals"></i>
							Ledgers
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="bi bi-gear-fill"></i>
							Settings
						</a>
					</li>

				</ul>
			</div>
			</div>
		</nav>

		<main id="main" class="col-md-9 ms-sm-auto col-lg-10 px-md-4" layout:fragment="content">
			¯\_(ツ)_/¯
		</main>
	</div>
</div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
<script th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>
<script type="module" th:src="@{/webjars/shoelace-style__shoelace/cdn/shoelace-autoloader.js}"></script>
<script th:src="@{/webjars/htmx.org/dist/htmx.js}"></script>

<script th:src="@{/script/app._hs}" type="text/hyperscript"></script>
<script th:src="@{/script/app.js}"></script>
<script th:src="@{/webjars/hyperscript.org/dist/_hyperscript.js}"></script>
</body>
</html>