<!--/*@thymesVar id="item" type="net.poundex.traq.marker.MarkerDto"*/-->
<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<span class="indexItem markerIndexMarkerLink" th:utext="${#markers.formatWeb(item)}">
								Marker Name
						</span>
<a href="#" class="bi bi-pencil-fill inlineEditLink"
   hx-target="closest <td />"
   th:attr="hx-get=|/marker/editTitle/${item.id()}|"></a>