<!--/*@thymesVar id="marker" type="net.poundex.traq.marker.MarkerDto"*/-->
<form>
	<div class="d-inline-flex">
		<input id="editMarkerTitleField" name="title" th:value="${marker.title() ? marker.title() : marker.name()}" class="form-control"
		       _="on keyup 
					if the event's key is 'Escape' 
						click() the next .bi-x
					end
				on intersection me.focus()" />
		<button
				class="btn btn-sm bi bi-check d-block" 
				th:attr="hx-post=|/marker/editTitle/${marker.id()}|" 
				hx-target="#main"></button>
		
		<button class="btn btn-sm bi bi-x d-block" 
		        th:attr="hx-delete=|/marker/editTitle/${marker.id()}|"
		        hx-target="closest <td />"></button>
	</div>
</form>