<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<!--/*@thymesVar id="items" type="java.util.List<net.poundex.traq.marker.MarkerDto>"*/-->
<!doctype html >
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/__${ layout }__}">
<head>
	<title>Markers</title>
</head>
<body>
<main layout:fragment="content">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Markers</h1>
	</div>

	<div th:replace="~{ _flash }"></div>
	
	<template th:fragment="markerMarkers">
		
	</template>

	<div class="row col-12">
		<div class="table-responsive" id="markerlist">
			<table class="table table-striped">
				<thead>
				<tr>
					<th scope="col" style="width: 20%">Title (Name)</th>
					<th scope="col">Markers</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="item: ${items}">
					<td th:insert="~{ marker/editabletitle }"></td>
					<td th:insert="~{ marker/markers }"></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<template th:replace="~{web/_ledgerawarepage}"></template>
</main>
</body>
</html>
