<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<!--/*@thymesVar id="item" type="net.poundex.traq.marker.MarkerDto"*/-->
<div hx-target="closest <td />">
	<p>
	<span th:each="marker: ${item.markers()}"
	      th:if="${marker instanceof net.poundex.traq.marker.TagDto}">
		<span th:utext="${#markers.formatWeb(marker)}"></span> 
		<button th:hx-delete="|/marker/${item.id()}/remark|"
		        name="without"
		        th:value="${marker.id()}"
		        class="btn btn-link link-danger p-0 bi bi-trash-fill"></button>
	</span>
	</p>

	<p>
	<span th:each="marker: ${item.markers()}"
	      th:if="${marker instanceof net.poundex.traq.marker.MentionDto}">
		<span th:utext="${#markers.formatWeb(marker)}"></span> 
		<button th:hx-delete="|/marker/${item.id()}/remark|"
		        name="without"
		        th:value="${marker.id()}"
		        class="btn btn-link link-danger p-0 bi bi-trash-fill"></button>
	</span>
	</p>

	<p>
	<span th:each="marker: ${item.markers()}"
	      th:if="${marker instanceof net.poundex.traq.marker.PropertyDto}">
		<span th:utext="${#markers.formatWeb(marker)}"></span> 
		<button th:hx-delete="|/marker/${item.id()}/remark|"
		        name="without"
		        th:value="${marker.id()}"
		        class="btn btn-link link-danger p-0 bi bi-trash-fill"></button>
	</span>
	</p>
	
	
	<form th:hx-post="|/marker/${item.id()}/remark|" class="d-inline-flex" hx-target="#main">
		<input class="form-control form-control-sm" name="markers" autocomplete="off" />
		<button type="submit" class="btn btn-sm btn-primary bi bi-plus-circle"></button>
	</form>
	
</div>