<div class="col-12 flash-container" th:if="${flash}">
	<div th:each="flashItem: ${flash}" 
	     th:class="|alert alert-${flashItem.style}|" 
	     role="alert" 
	     th:text="${flashItem.message}">
	</div>
</div>
