<form>
<label class="bi bi-journal d-inline">
	<select name="ledger" class="form-select form-select-sm d-inline mt-1 mb-3 ledger-chooser" 
	        hx-trigger="change" hx-target="closest <div />" hx-get="/ledgerchooser">
		<option
				th:each="ledger: ${ledgers}"
				th:text="${ledger.name()}"
				th:value="${ledger.id()}"
				th:selected="${activeLedger == ledger.id()}"
		>Default</option>
	</select>
</label>
	<template 
			hx-trigger="update-container-ledger from:body" 
			hx-target="closest <div />" 
			hx-get="/ledgerchooser"></template>
</form>
