body {
	font-size: .875rem;
}

.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
	position: fixed;
	top: 0;
	/* rtl:raw:
	right: 0;
	*/
	bottom: 0;
	/* rtl:remove */
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}


.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #727272;
}

.sidebar .nav-link.active {
	color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	/*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
	border: 0;
	font-weight: bolder;
}

.navbar .navbar-toggler {
	box-shadow: none !important;
	border: 0;
}

.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}

.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}

.form-control-dark::placeholder {
	color: #6c757d;
}

.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.ledger-chooser {
	box-sizing: border-box;
	width: 60%;
}

.ledger-chooser:focus {
	box-shadow: initial;
}

.active-duration {
	font-style: italic;
}

.summary-item-label {
	width: 20ch;
}

.summary-item-value {
	/*width: auto;*/
}

.marker-summary-datum {
	margin-right: 1ch;
}

.indirect-marker-name::before {
	content: "⇢ ";
}

.indirect-marker-name {
	font-style: italic;
}

table.calendar {
	padding: 1em;
	margin: 1em 1em 4em;
	height: 100%;
	width: 100%;
}

.calendar td {
	margin: 0;
	padding: 0;
	width: 12ch;
	height: 100%
}

.calendar th {
	border: 1px solid var(--bs-secondary-border-subtle);
	padding: 1em;
	width: 12ch;
	text-align: center;
	height: 1em;
}

.calendar button {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.calendar .outer {
	border: 1px solid var(--bs-secondary-border-subtle);
	text-align: center;
	padding: 1em;
	font-weight: bold;
}

.calendar ul {
	list-style: none;
	padding-left: 0;
	margin-top: initial;
	margin-bottom: initial;
}

.calendar li a {
	text-decoration: none;
	color: var(--bs-info)
}

.calendar li + li {
	padding-top: 0.5em;
}

.calendar td.nodate {
	background: var(--bs-info);
}

.calendar tr:first-of-type > th {
	font-size: 150%;
	padding: 0.2em;
}

a.marker {
	text-decoration: none;
}

a.marker-tag {
	color: var(--bs-blue);
}

a.marker-mention {
	color: var(--bs-purple);
}

a.marker-property {
	color: var(--bs-orange);
}

.toolbar {
	margin-bottom: 1em;
}

form tr {
	vertical-align: middle;
}

.hidden {
	display: none;
}

.toolbar input {
	display: inline;
	width: initial;
}

.toolbar select {
	display: inline;
	width: initial;
}

.btn-form-control {
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.btn-form-control:hover {
	border: var(--bs-border-width) solid var(--bs-border-color);
}

.btn-form-control:focus, .btn-form-control:active {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn-form-control.show {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

sl-tree i.bi {
	padding-right: 2px;
}

