<!--/*@thymesVar id="input" type="net.poundex.traq.ledger.LedgerDto"*/-->
<div th:replace="~{ _flash }"></div>
<form th:hx-post="${ ! create} ? ${'/ledger/' + id + '/save'} : '/ledger/save'">
	<div class="col-12 toolbar">
		<button id="formSaveButton" class="btn btn-primary" type="submit">
			<i class="bi bi-floppy-fill"></i>
			Save
		</button>
		<button id="formCancelButton" class="btn btn-danger" 
		        th:hx-get="${ ! create} ? ${'/ledger/' + id} : '/ledger'">
			<i class="bi bi-x-lg"></i>
			Cancel
		</button>
	</div>

	<div class="row col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<tr>
					<th style="width: 10ch" scope="row"><label for="ledgerFormNameField">Name</label></th>
					<td>
						<input id="ledgerFormNameField" name="name" class="form-control"
						       _="on intersection me.focus()"
						       required
						       th:value="${input?.name}"/>
					</td>
				</tr>
				<tr>
					<th style="width: 10ch" scope="row"><label for="ledgerFormDurationField">Duration</label></th>
					<td>
						<span class="input-group">
						<input id="ledgerFormDurationField"
						       name="targetDuration"
						       class="form-control"
						       step="0.01"
						       type="number"
						       th:value="${input.targetDuration() ? input.targetDuration().toHoursPart() + (input.targetDuration().toMinutesPart() / 60.0) : ''}"/>
							<span class="input-group-text">hours</span>
						</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
