<!doctype html >
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/__${ layout }__}">
<head>
	<title th:text="|Edit ${existing.name}|">Edit Ledger Name</title>
</head>
<body>
<main layout:fragment="content">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2" th:text="|Edit ${existing.name}|">Edit Ledger Name</h1>
	</div>

	<form th:replace="~{ ledger/_form }"></form>

</main>
</body>
</html>
