<!doctype html >
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/__${ layout }__}">
<head>
	<title>Ledgers</title>
</head>
<body>
<main layout:fragment="content">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">Ledgers</h1>
	</div>

	<div th:replace="~{ _flash }"></div>
	
	<div class="col-12 toolbar">
		<button id="newLedgerButton" class="btn btn-secondary" hx-get="/ledger/create">
			<i class="bi bi-plus-lg"></i> 
			New Ledger
		</button>
	</div>

	<div class="row col-12">
		<div class="table-responsive" id="ledgerlist">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Target Duration</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item: ${items}">
						<td>
							<a class="indexItem ledgerIndexLedgerLink"
							   th:text="${item.name}"
							   th:href="|/ledger/${item.id}|"
							   th:hx-push-url="|/ledger/${item.id}|">
								Ledger Name
							</a>
						</td>
						<td>
							<span th:if="${item.targetDuration}" th:text="${#spans.duration(item.targetDuration)}"></span>
							&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
</body>
</html>
