<!--/*@thymesVar id="exiting" type="net.poundex.marguerite.ledger.LedgerDto"*/-->
<!doctype html >
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/__${ layout }__}">
<head>
	<title th:text="${existing.name}">Ledger Name</title>
</head>
<body>
<main layout:fragment="content">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2" th:text="${existing.name}">Ledger Name</h1>
	</div>
	
	<div th:replace="~{ _flash }"></div>
	
	<div class="col-12 toolbar">
		<button id="ledgerEditButton" class="btn btn-secondary" th:hx-get="|/ledger/${existing.id}/edit|">
			<i class="bi bi-pencil"></i>
			Edit
		</button>
	</div>
	
	<div class="row col-12">
		<div class="table-responsive">
			<table class="table table-striped">
					<tr>
						<th style="width: 10ch" scope="row">Name</th>
						<td id="ledgerViewNameLabel" th:text="${existing.name}">Ledger Name</td>
					</tr>
				<tr>
					<th style="width: 10ch" scope="row">Target Duration</th>
					<td>
						<span id="ledgerViewTargetDurationLabel" 
						      th:if="${existing.targetDuration}" 
						      th:text="${#spans.duration(existing.targetDuration)}">Duration</span>
						&nbsp;
					</td>
				</tr>
			</table>
		</div>
	</div>
</main>
</body>
</html>
