<div class="row justify-content-center">
	<form class="d-flex justify-content-center">
		<icon iconName="arrow-left" size=32 [routerLink]="['/day', minusOneDaysAgo]"></icon>
		<input class="form-control" type="date" id="date" name="date" [ngModel]="date | date:'yyyy-MM-dd'" (ngModelChange)="onDateChanged($event)" #dayChooser/>
		<icon iconName="arrow-right" size=32 [routerLink]="['/day', plusOneDay]"></icon>
	</form>
</div>
<br>
<div class="row">
<table class="table col-9">
	<tr>
		<th class="col-2">Time</th>
		<th class="col-1"></th>
		<th class="col">Description</th>
	</tr>
	<tr *ngFor="let event of day.events">
		<td>
			{{ event.startTime }}
			<ng-container *ngIf="event.endTime">
				&mdash; {{ event.endTime }}
			</ng-container>
		</td>
		<td>
			<ng-container *ngIf="event.hasOwnProperty('duration'); then duration; else point">
			</ng-container>
			<ng-template #duration>
				<icon iconName="watch"></icon>
				<ng-container *ngIf="event.endTime; then done; else inProgress"></ng-container>
				<ng-template #done>
					{{ event.duration | duration }}
				</ng-template>
				<ng-template #inProgress>
					<mark>
						{{ event.duration | duration }}
					</mark>
				</ng-template>
			</ng-template>
			<ng-template #point>
				<icon iconName="info"></icon>
			</ng-template>
		</td>
		<td>
			<span *ngFor="let word of (event.description.split(' '))">
				<ng-container *ngIf=" ! word.startsWith('#'); else tag">
					{{ word }}
				</ng-container>
				<ng-template #tag>
					<inline-tag [asWritten]="word" [tagData]="event.tags"></inline-tag>
				</ng-template>
			</span>
		</td>
	</tr>
</table>
	<div class="col">
		<app-day-stats [day]="day"></app-day-stats>
	</div>
</div>

<button class="btn btn-primary" [routerLink]="['/addSpan', date.toISOString().substr(0, 10)]">Add Span</button>
<button class="btn btn-primary" [routerLink]="['/addPoint', date.toISOString().substr(0, 10)]">Add Point</button>
