<table class="calendar" id="bigcalendar" th:attr="__${ swapAttr }__" hx-target="this" hx-swap="outerHTML">
	<tbody>
	<tr th:with="rowspan=${calendarDateRows + 2}">
		<td th:rowspan="${rowspan}" class="outer">
			<ul class="d-flex flex-column">
				<li th:each="year: ${calendarYears}">
					<a href="#" th:text="${year}"
					   th:data-calendar-year="${year}"
					   th:with="newCtx=${java.time.LocalDate.of(year.getValue(), calendarContext.getMonth(), 1)}"
					   th:hx-get="|/day/calendar?context=${newCtx}|">
						2023
					</a>
				</li>
			</ul>
		</td>
		<td th:rowspan="${rowspan}" class="outer">
			<ul class="d-flex flex-column">
				<li th:each="month: ${calendarMonths}">
					<a href="#" th:text="${month.getDisplayName(java.time.format.TextStyle.FULL, locale)}"
					   th:data-calendar-month="${month.getValue()}"
					   th:with="newCtx=${java.time.LocalDate.of(calendarContext.getYear(), month, 1)}"
					   th:hx-get="|/day/calendar?context=${newCtx}|">
						January
					</a>
				</li>
			</ul>
		</td>
		<th colspan="7" th:text="${contextStr}">September 2023</th>
	</tr>
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
		<th>Sunday</th>
	</tr>
	<th:block th:each="date,iter: ${calendarDates}">
		<th:block th:if="${(iter.index) % 7 == 0}"><tr hx-target="#main"></th:block>
		<td th:if="${date == null}" class="nodate">&nbsp;</td>
		<td th:if="${date != null}">
			<button
					th:data-calendar-day="${date.getDayOfMonth()}"
					th:hx-get="|/day/${date}|"
					hx-target="#main"
					hx-swap="innerHTML"
					th:hx-push-url="true"
					class="btn"
					th:classappend="${date == calendarCurrent ? 'btn-info' : (date == java.time.LocalDate.now() 
						? 'btn-outline-primary' 
						: 'btn-outline-info')}"
					th:disabled="${date.isAfter(java.time.LocalDate.now())}"
					th:text="${date.getDayOfMonth()}">
				1
			</button>
		</td>
		<th:block th:if="${(iter.index + 1) % 7 == 0}"></tr></th:block>
	</th:block>
	</tr>
	</tbody>
</table>
