<!--/*@thymesVar id="dayPm" type="net.poundex.traq.day.WebDayPresentationModel"*/-->
<div id="daysummary" class="card col" th:attr="__${ swapAttr }__">
	<div class="card-body">
		<h3 class="card-title">Summary</h3>
		<table class="table table-borderless card-body">
			<tr>
				<th scope="row" class="summary-item-label">Time</th>
				<td id="daySummaryTime" class="summary-item-value" th:if="${dayPm.day.startTime == null}">N/A</td>
				<td class="summary-item-value" th:if="${dayPm.day.startTime != null}">
					<span id="daySummaryTime" th:utext="${#spans.timeRange(dayPm.day.startTime, dayPm.day.endTime, locale)}"></span>
					<span th:if="${dayPm.day.projectedEndTime != null}">
						(<i id="daySummaryProjectedEndTime" th:text="${#temporals.format(dayPm.day.projectedEndTime, 'HH:mm')}"></i>)
					</span>
				</td>
			</tr>
			<tr>
				<th scope="row" class="summary-item-label">Length</th>
				<td class="summary-item-value" id="daySummaryLength" th:text="${#spans.duration(dayPm.day.length)}"><sl-skeleton></sl-skeleton></td>
			</tr>
			<tr>
				<th scope="row" class="summary-item-label">Duration</th>
				<td class="summary-item-value" id="daySummaryDuration" th:text="${#spans.duration(dayPm.day.duration)}"><sl-skeleton></sl-skeleton></td>
			</tr>
			<tr>
				<th scope="row" class="summary-item-label">Acct. Duration</th>
				<td class="summary-item-value"><sl-skeleton></sl-skeleton></td>
			</tr>
			<tr>
				<th scope="row" class="summary-item-label">Prod. Duration</th>
				<td class="summary-item-value"><sl-skeleton></sl-skeleton></td>
			</tr>
		</table>
		
		<th:block th:replace="~{ timeline/_markersummarytable(markerSummaries = ${dayPm.getSortedMarkerSummaries()}, effectiveUri = |/day/${dayPm.day.day()}/effectiveMarkerSummary|) }"></th:block>
	</div>
</div>
