<!--/*@thymesVar id="dayPm" type="net.poundex.traq.day.WebDayPresentationModel"*/-->
<!doctype html >
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/__${ layout }__}">
<head>
	<title th:text="${#moreTemporals.longDatePlain(dayPm.day.day(), locale)}">Friday, 8th September 2023</title>
</head>
<body>
<main layout:fragment="content">
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2" th:utext="${#moreTemporals.longDate(dayPm.day.day(), locale)}">Friday 8th September 2023</h1>
	</div>
	
	<div class="d-flex" th:insert="~{ day/_bigcalendar }">
	</div>

	<div class="row mb-lg-4">
		<div class="col-lg-8 col-12">
			<h3>Timeline</h3>
			<th:block th:replace="~{ timeline/_timeline }"></th:block>
		</div>
		<th:block th:replace="~{day/_daysummary}"></th:block>
	</div>
	<template th:replace="~{web/_ledgerawarepage}"></template>
</main>
</body>
</html>