<!--/*@thymesVar id="dayPm" type="net.poundex.traq.day.WebTodayPresentationModel"*/-->
<div id="nowjumbo" class="p-4 mb-4 bg-light rounded-3" th:attr="__${ swapAttr }__" hx-target="this">
	<div class="container-fluid py-3">
		<form _="on click from <input.now-input-button/> add @disabled to #todayNowDescriptionField"
		      th:with="spanButtonClass=${dayPm.activeSpan ? 'warning' : 'primary'}">
			
			<textarea id="todayNowDescriptionField" autocomplete="off" name="description" class="form-control fs-4 mb-2"
			          th:placeholder="${dayPm.activeSpan?.description()} ?: 'Nothing active'"
			          _="on change or keyup or load
			                if my value
			                    remove @disabled from <button.now-input-button/>
			                else
			                    add @disabled to <button.now-input-button/>"></textarea>
			
			<button id="todayNowAddPointButton" hx-post="/today/point/add" class="btn btn-lg btn-primary now-input-button" type="button">
				Add Point
			</button>
			
			<button id="todayNowStartSpanButton" hx-post="/today/span/start" th:class="|btn btn-lg btn-${spanButtonClass} now-input-button|" type="button">
				Start New Span
			</button>

			<template th:remove="all">
				<ul th:fragment="spanHistory (skipFirst)" class="dropdown-menu">
					<li class="recentSpanHistoryItem" th:each="recent, iter : ${dayPm.recentSpans}" th:if="${iter.index != 0 || skipFirst == false}">
						<a class="dropdown-item" href="#" th:text="${recent.description()}"
						   _="on click 
						set #todayNowDescriptionField's value to my text
						trigger change on #todayNowDescriptionField
						click() the #todayNowStartSpanButton">
							History Item
						</a>
					</li>
				</ul>
			</template>

			<span class="dropdown" th:if="${dayPm.activeSpan != null || dayPm.lastSpanDescription == null}">
				<button id="todayNowSpanFromHistoryButton" th:class="|btn btn-lg btn-${spanButtonClass} dropdown-toggle|" data-bs-toggle="dropdown" aria-expanded="false">
					Span from History
				</button>
				<ul th:replace=":: spanHistory(skipFirst=true)"></ul>
			</span>

			<span class="btn-group" th:if="${dayPm.activeSpan == null && dayPm.lastSpanDescription != null}">
				<sl-tooltip th:content="${dayPm.lastSpanDescription}" placement="bottom">
					<button 
							id="todayNowRepeatLastSpanButton" 
							th:class="|btn btn-lg btn-${spanButtonClass}|"
							th:data-last="${dayPm.lastSpanDescription}" 
							type="button"
							hx-post="/today/span/repeat">
						Repeat Last Span
					</button>
				</sl-tooltip>
				
				<button id="todayNowSpanFromHistoryButton" type="button" th:class="|btn btn-${spanButtonClass} dropdown-toggle dropdown-toggle-split|"
				        data-bs-toggle="dropdown" aria-expanded="false">
					<span class="visually-hidden">Toggle Dropdown</span>
				</button>
				<ul th:replace="~{ :: spanHistory(skipFirst=false) }"></ul>
			</span>

			<button id="todayNowStopActiveSpanButton" hx-post="/today/span/stop" class="btn btn-lg btn-warning" th:if="${dayPm.activeSpan != null}">
				Stop Active Span
			</button>
		</form>
	</div>
</div>