<div class="d-flex" >
	<form style="display: inherit" class="flex-grow-1">
	<textarea id="newDesc" name="newDesc" class="form-control flex-grow-1"
	          _="on keyup 
					if the event's key is 'Escape' 
						click() the next .bi-x
					end
					if the event's key is 'Enter' and the event's ctrlKey
						click() the next .bi-check
					end
				on intersection me.focus()">[[${desc}]]</textarea>
		<div class="d-flex flex-column">
			<button class="btn btn-sm bi bi-check d-block" th:attr="hx-post=|/today/amend/${eventId}|" hx-target="closest <td />"></button><br>
			<button class="btn btn-sm bi bi-x d-block" th:attr="hx-delete=|/today/amend/${eventId}|" hx-target="closest <td />"></button>
		</div>
	</form>
</div>