<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<tr th:each="kv: ${effectiveMarkerSummary}" class="markerSummaryEffectiveMarkerRow">
	<td>
		<span th:utext="${#markers.formatWeb(kv.key)}" class="indirect-marker-name"></span></td>
	<td th:if="${kv.value.values == null}">
		<span class="marker-summary-datum" th:if="${kv.value.duration != null}" th:text="${#spans.duration(kv.value.duration.value)}"></span>
		<span class="marker-summary-datum" th:if="${kv.value.count != null}" th:text="|+${kv.value.count.value}|"></span>
	</td>
	<td th:if="${kv.value.values != null}">
					<span class="marker-summary-datum" th:each="val: ${kv.value.values.value}"
					      th:text="${val}"></span>
	</td>
</tr>
