<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<table class="table table-striped table-sm card-body" th:fragment="markerSummaryTable(markerSummaries, effectiveUri)">
	<thead>
	<tr>
		<th scope="col">Marker</th>
		<th scope="col">Summary</th>
	</tr>
	</thead>
	<tbody>
	<tr th:each="kv: ${markerSummaries}" class="markerSummaryDirectMarkerRow">
		<td th:utext="${#markers.formatWeb(kv.key)}"><sl-skeleton></sl-skeleton></td>
		<td th:if="${kv.value.values == null}">
			<span class="marker-summary-datum" th:if="${kv.value.duration != null}" th:text="${#spans.duration(kv.value.duration.value)}"></span>
			<span class="marker-summary-datum" th:if="${kv.value.count != null}" th:text="|+${kv.value.count.value}|"></span>
		</td>
		<td th:if="${kv.value.values != null}">
					<span class="marker-summary-datum" th:each="val: ${kv.value.values.value}"
					      th:text="${val}"></span>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="text-center">
			<button class="btn btn-dark btn-sm" th:hx-get="${effectiveUri}" hx-swap="outerHTML" hx-target="closest <tr />"
			        id="markerSummaryShowAllButton"
			        _="on click 
						set my innerHTML to '<div class=lds-ellipsis><div></div><div></div><div></div><div></div></div>' 
						set my disabled to true">
				Show All
			</button>
		</td>
	</tbody>
</table>
