<!--/*@thymesVar id="#markers" type="net.poundex.traq.web.thymeleaf.MarkersUtility"*/-->
<th:block th:fragment="eventDescription (e)" th:with="e=${e} ?: ${inlineEvent}">
	<!--/*@thymesVar id="e" type="net.poundex.traq.timeline.TimelineEventDto"*/-->
	<span th:utext="${#markers.formatAllWeb(e.description(), e.markers())}"></span>
	<th:block th:if="!${noedit}">
		<a href="#" class="bi bi-pencil-fill"
		   hx-target="closest <td />"
		   th:attr="hx-get=|/today/amend/${e.id()}|"
		></a>
	</th:block>
</th:block>
