<!--/*@thymesVar id="dayPm" type="net.poundex.traq.day.WebDayPresentationModel"*/-->
<div class="table-responsive" id="timeline" th:attr="__${ swapAttr }__">

	<table class="table table-striped timeline">
		<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col" colspan="2">Time</th>
			<th scope="col">Description</th>
		</tr>
		</thead>
		<tbody>

		<th:block th:if="${dayPm.day.events()}" th:each="event : ${dayPm.day.events()}">
			<th:block th:switch="${event.getClass().getSimpleName()}">
				<tr data-event-type="span" th:case="'TimelineSpanDto'">
					<td data-role="sigil" style="width: 3ch"><i class="bi bi-stopwatch"></i> </td>
					<td data-role="time-range" style="width: 13ch" 
					    th:utext="${#spans.timeRange(event.time(), event.endTime(), locale)}">
						<sl-skeleton></sl-skeleton>
					</td>
					<td data-role="duration" style="width: 5ch" 
					    th:text="${#spans.duration(event.duration())}" th:attrprepend="class=${event.active() ? 'active-duration' : ''}">
						?'??"
					</td>
					<td data-role="description" th:insert="~{ timeline/_timelinedescription :: eventDescription(e = ${event}) }"></td>
				</tr>
				<tr data-event-type="point" th:case="*">
					<td data-role="sigil" style="width: 3ch"><i class="bi bi-pin-angle-fill"></i> </td>
					<td data-role="time" colspan="2" th:text="${#events.time(event.time(), locale)}"><sl-skeleton></sl-skeleton></td>
					<td data-role="description" th:insert="~{ timeline/_timelinedescription :: eventDescription(e = ${event}) }"></td>
				</tr>
			</th:block>
		</th:block>
		<th:block th:if="! ${dayPm.day.events()}">
			<th:block th:each="i : ${#numbers.sequence(1, 10)}">
				<tr>
					<td style="width: 3ch"><sl-skeleton></sl-skeleton></td>
					<td style="width: 18ch" colspan="2"><sl-skeleton></sl-skeleton></td>
					<td><sl-skeleton></sl-skeleton></td>
				</tr>
			</th:block>
		</th:block>
		</tbody>
	</table>
</div>